@charset "utf-8";


*{	margin: 0; padding: 0; vertical-align: top; border: 0; outline: 0; box-sizing: border-box;}
ul, ol, li { list-style: none; }
a { outline:0; text-decoration:none; color:#fff; }
img { border:0; }
img, video { max-width: 100%; }
body { line-height: 1.3;  font-size: 100%; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
table {border-collapse:collapse; border-spacing: 0;}
input, select { vertical-align: middle; }
i, em, address { font-style: normal; font-weight: normal; }
.blind {
    display: none;
}
.banner {width: 100%;}
.banner .search {
    width: 80%;
    max-width: 550px;
    margin:0 auto;
    position: relative;
}
.banner .search input {
    display: block;
    width: 100%; height: 46px;
    padding: 0.5rem 1.3rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #7c7c7c;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 46px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.banner .search .search-btn {
    position: absolute;
    right: 3px;
    top: 3px;
    height: 40px;
    width: 40px;
    border-radius: 40px;
    cursor: pointer;
}
.banner .search input:focus {
    color: rgb(39, 39, 39);
    border-color: rgb(100, 172, 219);
    outline: 0;
}
.container {
    max-width: 1400px;
    margin: 0 auto;
    padding:100px 0;
}
.card-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card-wrap .card-list {
    margin: 0 1vw;
    width: calc((100% - 8vw)/4);
    cursor: pointer;
    border: solid 1px #ced4da;
    border-radius: 5px;
    margin-bottom: 50px;
    overflow: hidden;
}
.card-wrap .card-list .card-info {
    padding:20px 15px;
}
.card-wrap .card-list .card-info h5 {
    font-size: 1.6rem;
    line-height: 1.2;
    padding:0 0 20px 0;
}

footer {
    padding:50px 0;
    background-color: #ced4da;
}
footer div {    
    max-width: 1400px;
    margin: 0 auto;
    
}